.container{
    background-color: #9812; 
}
.meme-col{
background-color: #fff;
}
.comics-col{
    background-color: #3657; 
}
.misc-col{
    background-color: #5678; 
}
.sports-col{
    background-color: #956; 
}